.aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 78%;
}

.aside__h3{
    width: 100%;
    margin-bottom: 18px;
    margin-top: 8px;
    font-family: $font2;
    font-size: 28px;
    letter-spacing: 2.5px;
    background-image: url(../img/pxgray.png);
    padding: 8px 7px 4px 10px ;
    box-shadow: 2px 2px 1px $color2, 2px 3px 1px $color2;
}

.aside__form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;    
}

.form__search{
    width: 80%;
    height: 29px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    color: gray;
    background-color: white;
}

.form__search:focus{
    padding-left: 5px;
    color: black;
    box-shadow: none;
}

.form__search-submit{
    background-image: url(../img/search.svg);
    background-color: white;
    background-repeat: no-repeat;
    height: 29px;
    width: 26px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
}

.aside__div{
    width: 92%;
    position: relative;
    @include shadow3();
    border: 1px solid rgba(150, 150, 150, 0.664);
    border-radius: 4px;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px 0px;
}

.aside__form-input{
    width: 94%;
    margin-bottom: 14px;
    margin-top: 5px;
    border: 1px solid #ccc;
    height: 32px;
    font-size: 23px;
    border-radius: 5px;
    box-shadow: 0px -1px 3px rgb(138, 138, 138);
    padding-left: 26px;
}

.aside__form-img{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.aside__form-img--1{
    top: 27px;
    left: 7px;
}

.aside__form-img--2{
    top: 80px;
    left: 7px;
    height: 26px;
    width: 29px;
}

.aside__button{
    @extend %button;
}

.aside__button:hover{
    @extend %buttonhover;
}

.aside__button:focus{
    @extend %buttonfocus;
}

.aside__button:active{
    @extend %buttonactive;
}

.aside__div-ul-li{
    list-style: none;
    padding: 0px 5px;
}

.aside__div-ul-li-a{
    color: black;
    text-decoration: none;
    transition: 0.2s all;
    font-size: 20px;
}

.aside__div-ul-li-a:hover{
    color: $color4;
}

.aside__div-ul-li-img{
    width: 38px;
    margin-bottom: 10px;
    transition: 0.3s all;
}

.aside__div-ul-li-img:hover{
    width: 48px;
}

.aside__div--social{
    width: 130px;
    text-align: center;
}